In [ ]:
f'str+{16.123:.2f}'

'str+16.12'

In [ ]:
f'float_{16:f}, int_{16:d}'

'float_16.000000, int_16'

In [ ]:
f'{65:c} {97:c}'

'A a'

In [ ]:
ord('3')

51

In [ ]:
f'{"asc":s} {7}'

'asc 7'

In [ ]:
from decimal import Decimal

In [ ]:
f'{Decimal(1000000000000000000.0):.3f}'

'1000000000000000000.000'

In [ ]:
f'{Decimal(1000_000_000_000_000_000.0):.2e}'

'1.00e+18'

Field Widths and Alignment
• Python right-aligns numbers and left-aligns other values.
• Python formats float values with six digits of precision.

In [ ]:
f'[{"hello":10}]'#10 karakterlik alanın var  varsayılan sağa hızalı

'[hello     ]'

In [ ]:
print(f'[{27:10d}]')
f'[{3.5:10f}]'# '.' dahil 10 karakter belirtilmediği için defult olarak 6 sıfır yazılır

[        27]

'[  3.500000]'

Explicitly Specifying Left and Right Alignment in a Field
• Can specify left and right alignment with < and >:

In [ ]:
print(f'[{27: >15d}]')# hizalama yönü
f'[{27: <15d}]'

[             27]

'[27             ]'

# Centering a Value in a Field
	• Centering attempts to spread the remaining unoccupied character positions equally to the left and right of the formatted
	value
	• Python places the extra space to the right if an odd number of character positions remain

In [ ]:
f'[{27:^7d}]'#ortaya koyma

'[  27   ]'

In [ ]:
f'[{3.5:^7f}]'

'[3.500000]'

In [ ]:
f'[{"hello":^7}]'

'[ hello ]'

# Formatting Positive Numbers with Signs
* A + before the field width specifies that a positive number should be preceded by a +
* To fill the remaining characters of the field with es rather than spaces, place a e before the field width (and after the +if there is one)

In [ ]:
f'[{27:+10d}]'

'[       +27]'

In [ ]:
f'[{27:+010d}]'

'[+000000027]'

# Using a Space Where a + Sign Would Appear in a Positive Value
• A space indicates that positive numbers should show a space character in the sign position

In [ ]:
print (f'{27:d}\n{27: d}\n {-27: d}')

27
 27
 -27

# Grouping Digits

In [ ]:
f'{123345678:,d}'# ',' ile ayır ve integer tipinde yaz

'123,345,678'

In [ ]:
f'{123345678:,.2f}'#2 sıfır

'123,345,678.00'

# 8.2.4 String's format Method
* f-strings were added to Python in version 3.6
* Before that, formatting was performed with the string method format
* f-string formatting is based on the format method's capabilities
* Call method format on a format string containing curly brace ({}) placeholders, possibly with format specifiers
* Pass to the method the values to be formatted
* If there's a format specifier, precede it by a colon (:)

In [ ]:
'{:.2f}'.format(17.489)

'17.49'

# Multiple Placeholders
* format string may contain multiple placeholders
* format method's arguments correspond to the placeholders from left to right

In [ ]:
'ad : {} soyad : {}'.format('cafer', 'asi')

'ad : cafer soyad : asi'

# Referencing Arguments By Position Number
* Format string can reference specific arguments by their position in the format method's argument list

In [ ]:
'{0} {0} {1}'.format('Happy', 'Birthday')

'Happy Happy Birthday'

# Referencing Keyword Arguments
* Can reference keyword arguments by their keys in the placeholders

In [ ]:
'{first} {last}'.format(first='Amanda', last='Gray')

'Amanda Gray'

In [ ]:
'{last} {first}'.format(first='Amanda', last='Gray')

'Gray Amanda'

# 8.3 Concatenating and Repeating Strings
* Previously, we used the operator to concatenate strings and the operator to repeat strings
* Also can perform these operations with augmented assignments
* Strings are immutable, so each operation assigns a new string object to the variable

In [ ]:
s1 = 'happy'
s2 = 'birthday'

In [ ]:
s1 += '  '+s2

In [ ]:
s1

'happy  birthday'

In [ ]:
symbol = '>'
symbol *= 5

In [ ]:
symbol

'>>>>>'

# 8.4 Stripping Whitespace from Strings
* Methods for removing whitespace from the ends of a string each return a new string
Removing Leading and Trailing Whitespace
* strip removes leading and trailing whitespace

In [ ]:
sentence = '\t  \n n This is a test string. \t\t \n'

In [ ]:
sentence.strip()

'n This is a test string.'

# Removing Leading Whitespace
* lstrip removes only leading whitespace

In [ ]:
sentence.lstrip()#sondaki boşluklarıı kaldırır

'n This is a test string. \t\t \n'

Removing Leading Whitespace
• 1strip removes only leading whitespace
sentence. lstrip()

# Removing Trailing Whitespace
* rstrip removes only trailing whitespace

In [ ]:
sentence.rstrip()

'\t  \n n This is a test string.'

# 8.5 Changing Character Case

# Capitalizing Only a String's First Character
* Method capitalize returns a new string with only the first letter capitalized (sometimes called sentence capitalization)

In [ ]:

'happy birthday' .capitalize()#ilk harf büyük yapar

'Happy birthday'

# Capitalizing the First Character of Every Word in a String
• Method title returns a new string with only the first character of each word capitalized (sometimes called book-title
capitalization)

In [ ]:
'strings: a deeper look'.title()

'Strings: A Deeper Look'

# 8.6 Comparison Operators for Strings
* Strings may be compared with the comparison operators
* Strings are compared based on their underlying integer numeric values
* Can check integer codes with ord

In [ ]:
print (f'A: {ord("A")}; a: {ord("a")}')

A: 65; a: 97

* Compare the strings 'Orange' and 'orange' using the comparison operators

In [ ]:
'Orange' == 'orange'

False

In [ ]:
'Orange' != 'orange'

True

In [ ]:
'Orange' < 'orange'

True

In [ ]:
'Orange' <= 'orange'

True

In [ ]:
'Orange' > 'orange'

False

# 8.7 Searching for Substrings
. Can search a string for a **substring to
■count number of occurrences
▪ determine whether a string contains a substring
▪ determine the index at which a substring resides in a string
• Each method shown in this section compares characters lexicographically using their underlying numeric values
Counting Occurrences
• count returns the number of times its argument occurs in a string

In [ ]:
sentence = 'to be or not to be that is the question'
sentence.count('to')

2

• If you specify as the second argument a start index, count searches only the slice_string_ [start_index:]

In [ ]:
sentence.count('to', 12)#12. indexten sonra ,kaç tane 'to' olduğnu döndürür

1

• If you specify as the second and third arguments the start index and end index, count searches only the slice
_string_ [start_index: end_index ]

In [ ]:
sentence.count('that', 12,25)#12. ve 25. inedx arasınaki 'that' sayısına bakar

1

• Like count, the other string methods presented in this section each have start index and end index arguments

# Locating a Substring in a String
• index searches for a substring within a string and returns the first index at which the substring is found; otherwise, a
ValueError occurs:

In [ ]:
sentence.index('be')

3

• rindex performs the same operation as index, but searches from the end of the string

In [ ]:
sentence.rindex ('be')

16

• find and rfind perform the same tasks as index and rindex but return -1 if the substring is not found
Determining Whether a String Contains a Substring
• To check whether a string contains a substring, use operator in or not in

In [ ]:
#sentence.rindex ('bee')

In [ ]:
sentence.rfind ('bee')

In [ ]:
'that' in sentence

True

In [ ]:
'THAT' in sentence

False

In [ ]:
'THAT' not in sentence

True

# Locating a Substring at the Beginning or End of a String
• startswith and endswith return True if the string starts with or ends with a specified substring

In [ ]:
sentence.startswith('to')#'to' ile başlıyor mu

True

In [ ]:
sentence.startswith('be')

False

In [ ]:
sentence.endswith('question')#'question' ile bitiyor mu

True

In [ ]:
sentence.endswith('quest')

False

# 8.8 Replacing Substrings
• A common text manipulation is to locate a substring and replace its value
• replace searches a string for the substring in its first argument and replaces each occurrence with the substring in its
second argument
• Can receive an optional third argument specifying the maximum number of replacements

In [ ]:
values= '1\t2\t3\t4\t5'

In [ ]:
values.replace('\t', ', ') # \t yi , ile değiştirir

'1, 2, 3, 4, 5'

# 8.9 Splitting and Joining Strings
* Tokens typically are separated by whitespace characters such as blank, tab and newline, though other characters may
used the separators are known as delimiters

# Splitting Strings
• To tokenize a string at a custom delimiter, specify the delimiter string that split uses to tokenize the string

In [ ]:
letters= 'A,B,C,D'

In [ ]:
letters.split(',')

['A', 'B', 'C', 'D']

* Specify the maximum number of splits with an integer as the second argument
* Last token is the remainder of the string

In [ ]:
letters.split(', ', 2)

['A,B,C,D']

* rsplit performs the same task as split but processes the maximum number of splits from the end of the string
toward the beginning

# Joining Strings
* join concatenates the strings in its argument, which must be an iterable containing only string values
* The separator between the concatenated items is the string on which you call join

In [ ]:
letters_list = ['A', 'B', 'C', 'D']
','.join(letters_list)

'A,B,C,D'

• Join the results of a list comprehension that creates a list of strings

In [ ]:
','.join([str(i) for i in range(10)])

'0,1,2,3,4,5,6,7,8,9'

# String Methods  partition and rpartition
## String method partition splits a string into a tuple of three strings based on the method's separator argument
* the part of the original string before the separator
* the separator itself
*the part of the string after the separator

In [ ]:
'Amanda: 89, 97, 92'.partition (': ')# : öncesi ayrı  3e bölüyor

('Amanda', ': ', '89, 97, 92')

• To search for the separator from the end of the string, use method rpartition

In [ ]:
url = 'http://www.deitel.com/books/PyCDS/table_of_contents.html'

In [ ]:
rest_of_url, separator, document = url.rpartition('/')

In [ ]:
rest_of_url, separator, document

('http://www.deitel.com/books/PyCDS', '/', 'table_of_contents.html')

# String Method splitlines
* splitlines returns a list of new strings representing lines of text split at each newline character in the original string

In [ ]:
lines="""This is line 1
This is line2
This is line3"""

In [ ]:
lines

'This is line 1\nThis is line2\nThis is line3'

In [ ]:
lines.splitlines() # \n e göre bölüyor

['This is line 1', 'This is line2', 'This is line3']

In [ ]:
lines.split('\n')

['This is line 1', 'This is line2', 'This is line3']

• Passing True to splitlines keeps the newlines

In [ ]:
lines.splitlines (True)# daha sonra birleştirilecekse sorun çıkmaması için '\n' leri silmez

['This is line 1\n', 'This is line2\n', 'This is line3']

# 8.10 Characters and Character-Testing Methods
* in Pythan a character is simply a one character string
* Python provides string methods for testing whether a string matches certain chatic
* isdigit returns True if the string or which you call the method contains only the digit characters (0-9)
	* Useful for val dating data

In [ ]:
a=int(input("sayi girin"))

sayi girin12

In [ ]:
'-27'.isdigit()

False

In [ ]:
'27'.isdigit()

True

# 8.10 Chacters and Character-Testing Methods (cont.)
*    Isalnum returns True it the string or which you call the method is aphanumeric (only cats and letters)

In [ ]:
'A9876'.isalnum();

<table class="ws-table-all notranslate">
    <tbody><tr>
    <th>Method</th>
    <th>Description</th>
    </tr>
      <tr>
        <td>capitalize()</a></td><td>Converts the first 
        character to upper case</td>
      </tr>
      <tr>
        <td>casefold()</a></td><td>Converts string into 
        lower case</td>
      </tr>
      <tr>
        <td>center()</a></td><td>Returns a centered 
        string</td>
      </tr>
      <tr>
        <td>count()</a></td><td>Returns the number of 
        times a specified value occurs in a string</td>
      </tr>
      <tr>
        <td>encode()</a></td><td>Returns an encoded 
        version of the string</td>
      </tr>
      <tr>
        <td>endswith()</a></td><td>Returns true if the 
        string ends with the specified value</td>
      </tr>
      <tr>
        <td>expandtabs()</a></td><td>Sets the 
        tab size of the string</td>
      </tr>
      <tr>
        <td>find()</a></td><td>Searches the string for a 
        specified value and returns the position of where it was found</td>
      </tr>
      <tr>
        <td>format()</a></td><td>Formats specified 
        values in a string</td>
      </tr>
      <tr>
        <td>format_map()</td><td>Formats specified 
        values in a string</td>
      </tr>
      <tr>
        <td>index()</a></td><td>Searches the string 
        for a specified value and returns the position of where it was found</td>
      </tr>
      <tr>
        <td>isalnum()</a></td><td>Returns True if all 
        characters in the string are alphanumeric</td>
      </tr>
      <tr>
        <td>isalpha()</a></td><td>Returns True if all 
        characters in the string are in the alphabet</td>
      </tr>
      <tr>
        <td>isascii()</a></td><td>Returns True if all 
        characters in the string are ascii characters</td>
      </tr>
      <tr>
        <td>isdecimal()</a></td><td>Returns True if all 
        characters in the string are decimals</td>
      </tr>
      <tr>
        <td>isdigit()</a></td><td>Returns True if all 
        characters in the string are digits</td>
      </tr>
      <tr>
        <td>isidentifier()</a></td><td>Returns True if 
        the string is an identifier</td>
      </tr>
      <tr>
        <td>islower()</a></td><td>Returns True if all 
        characters in the string are lower case</td>
      </tr>
      <tr>
        <td>isnumeric()</a></td><td>Returns True if 
        all characters in the string are numeric</td>
      </tr>
      <tr>
        <td>isprintable()</a></td><td>Returns True if 
        all characters in the string are printable</td>
      </tr>
      <tr>
        <td>isspace()</a></td><td>Returns True if all 
        characters in the string are whitespaces</td>
      </tr>
      <tr>
        <td>istitle()</a></td>
        <td>Returns True if the string follows the rules of a 
        title</td>
      </tr>
      <tr>
        <td>isupper()</a></td><td>Returns True if all 
        characters in the string are upper case</td>
      </tr>
      <tr>
        <td>join()</a></td><td>Converts the elements of 
        an iterable into a string</td>
      </tr>
      <tr>
        <td>ljust()</a></td><td>Returns a left justified 
        version of the string</td>
      </tr>
      <tr>
        <td>lower()</a></td><td>Converts a string into 
        lower case</td>
      </tr>
      <tr>
        <td>lstrip()</a></td><td>Returns a left trim 
        version of the string</td>
      </tr>
      <tr>
        <td>maketrans()</a></td><td>Returns a 
        translation table to be used in translations</td>
      </tr>
      <tr>
        <td>partition()</a></td><td>Returns a tuple 
        where the string is parted into three parts</td>
      </tr>
      <tr>
        <td>replace()</a></td><td>Returns a string 
        where a specified value is replaced with a specified value</td>
      </tr>
      <tr>
        <td>rfind()</a></td><td>Searches the string for 
        a specified value and returns the last position of where it was found</td>
      </tr>
      <tr>
        <td>rindex()</a></td><td>Searches the string for 
        a specified value and returns the last position of where it was found</td>
      </tr>
      <tr>
        <td>rjust()</a></td><td>Returns a right justified 
        version of the string</td>
      </tr>
      <tr>
        <td>rpartition()</a></td><td>Returns a tuple 
        where the string is parted into three parts</td>
      </tr>
      <tr>
        <td>rsplit()</a></td><td>Splits the string at 
        the specified separator, and returns a list</td>
      </tr>
      <tr>
        <td>rstrip()</a></td><td>Returns a right trim 
        version of the string</td>
      </tr>
      <tr>
        <td>split()</a></td><td>Splits the string at 
        the specified separator, and returns a list</td>
      </tr>
      <tr>
        <td>splitlines()</a></td><td>Splits the string 
        at line breaks and returns a list</td>
      </tr>
      <tr>
        <td>startswith()</a></td><td>Returns true if 
        the string starts with the specified value</td>
      </tr>
      <tr>
        <td>strip()</a></td><td>Returns a trimmed version of the string</td>
      </tr>
      <tr>
        <td>swapcase()</a></td><td>Swaps cases, lower 
        case becomes upper case and vice versa</td>
      </tr>
      <tr>
        <td>title()</a></td><td>Converts the first 
        character of each word to upper case</td>
      </tr>
      <tr>
        <td>translate()</a></td><td>Returns a 
        translated string</td>
      </tr>
      <tr>
        <td>upper()</a></td><td>Converts a string 
        into upper case</td>
      </tr>
    <tr><td>zfill()</a></td><td>Fills the string with 
      a specified number of 0 values at the beginning</td></tr>
    </tbody></table>

In [ ]:
# methodları incelemek için kullanılır
str.*?

In [ ]:
str.isalnum?

In [ ]:
str.isalpha?

# 8.11 Raw Strings
  * Backslash characters in strings introduce _escape sequences_ like \n for newline and \t for tab
 * To include a backslash in a string, use two backslash characters \\
  * Makes some strings difficult to read
 *  Consider a Microsoft Windows file location:

In [ ]:
s

In [ ]:
""" 
alfa nümerik ve küçük harf
merhaba
-------
"""

veri = input("")
if veri.isalnum():
    if veri.islower():
        print(veri) 
        print('-' * len(veri))

as
as
--

# 8.11 Raw Strings (cont.)

* Faw strings—preceded by the character —are more convenient
* They teat each backstash as a regular character, rather than the beginning ofan escape sequence

In [ ]:

File_path = r'C:\tyFolder\WySubFolder\WyFile.txt'

In [ ]:
File_path#windows formatın açevirir

'C:\\tyFolder\\WySubFolder\\WyFile.txt'

# 8.12.1 re Module and Function fullmatch

* fuldmateh checks whether the entire string in its second argument matches the pattem in its first argument

In [ ]:
import re

In [ ]:
# Matching Literal Characters

In [ ]:
pattern = "92215"

"Match" if re.fullmatch(pattern, '02215') else "No match"

'No match'

In [ ]:
"Match" if re.fullmatch(pattern, '92215') else "No match"

'Match'

* First argument is the regular expression patterh to match
    * Any string can be a regular expression
    * literal characters match themselves in the specified order
* Second argument is the string that should entirely match the pattern
* Ifthe second argument matches the pattern in the first argument, fullmatch retums an object containing the matching text, which evaluates to True
* Forno match, fullmatch retums None , which evaluates to False

# Metacharacters, Character Classes and Quantifiers

* Regular expressions typically contain various special symbols called metacharacters:

<tbody><tr>
<th style="width:120px">Character</th>
<th>Description</th>
<th style="width:120px">Example</th>
</tr>
<tr>
<td>[]</td>
<td>A set of characters</td>
<td>"[a-m]"</td>
</tr>
<tr>
<td>\</td>
<td>Signals a special sequence (can also be used to escape special characters)</td>
<td>"\d"</td>
</tr>
<tr>
<td>.</td>
<td>Any character (except newline character)</td>
<td>"he..o"</td>
</tr>
<tr>
<td>^</td>
<td>Starts with</td>
<td>"^hello"</td>
</tr>
<tr>
<td>*</td>
<td>Zero or more occurrences</td>
<td>"he.*o"</td>
  </tr>
  <tr>
<td>+</td>
<td>One or more occurrences</td>
<td>"he.+o"</td>
  </tr>
  <tr>
<td>?</td>
<td>Zero or one occurrences</td>
<td>"he.?o"</td>
  </tr>
  <tr>
<td>{}</td>
<td>Exactly the specified number of occurrences</td>
<td>"he.{2}o"</td>
  </tr>
  <tr>
<td>|</td>
<td>Either or</td>
<td>"falls|stays"</td>

  </tr>
  <tr>
<td>()</td>
<td>Capture and group</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
  </tr>

<td>$</td>
<td>Capture and group</td>
<td> "planet$$"</td>
<td>&nbsp;</td>
  </tr>
</tbody>

* \ metacharacter begins each predefined character class
* Each matches a specific set of characters

In [ ]:
'Valid' if re.fullmatch(r'\d{5}', '2215') else "Invalid"

'Invalid'


 

+ In \d{5}, \d isa character class representing a digit (0-9)
+ Acharacter class is a regular expression escape sequence that matches one character
+ To match more than one, follow the character class with a quantifier

+ {5} repeats \d five times to match five consecutive digits

In [ ]:
import re

# ^ (Caret): Satırın başlangıcına karşılık gelir.
# Örnek: "hello" kelimesinin bir satırın başında olup olmadığını kontrol edin.
pattern = r"^hello"
text = "hello world"
match = re.search(pattern, text)
if match:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [ ]:

# $ (Dollar): Satırın sonuna karşılık gelir.
# Örnek: "world" kelimesinin bir satırın sonunda olup olmadığını kontrol edin.
pattern = r"world$"
text = "hello world"
match = re.search(pattern, text)
if match:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [ ]:

# . (Dot): Herhangi bir tek karakteri eşleştirir.
# Örnek: "cat" kelimesinin bir "c" karakteri, herhangi bir karakter ve bir "t" karakteriyle oluştuğunu kontrol edin.
pattern = r"c.t"
text = "The cat in the hat"
match = re.search(pattern, text)
if match:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [ ]:

# * (Asterisk): Önceki karakterin sıfır veya daha fazla tekrarını eşleştirir.
# Örnek: "a" harfinin sıfır veya daha fazla tekrarını eşleştirin.
pattern = r"a*"
text = "banana"
match = re.findall(pattern, text)
print(match)

['', 'a', '', 'a', '', 'a', '']

In [ ]:

# + (Plus): Önceki karakterin bir veya daha fazla tekrarını eşleştirir.
# Örnek: "a" harfinin bir veya daha fazla tekrarını eşleştirin.
pattern = r"a+"
text = "banana"
match = re.findall(pattern, text)
print(match)

['a', 'a', 'a']

In [ ]:

# ? (Question Mark): Önceki karakterin sıfır veya bir kez tekrarını eşleştirir.
# Örnek: "color" veya "colour" kelimesini eşleştirin.
pattern = r"colou?r"
text1 = "color"
text2 = "colour"
match1 = re.search(pattern, text1)
match2 = re.search(pattern, text2)
if match1:
    print("Match found in text1!")
if match2:
    print("Match found in text2!")

Match found in text1!
Match found in text2!

In [ ]:
# [] (Square Brackets): Belirli bir karakter kümesini eşleştirir.
# Örnek: "a", "e" veya "i" karakterlerinden herhangi birini eşleştirin.
pattern = r"[aei]"
text = "The quick brown fox jumps over the lazy dog"
match = re.findall(pattern, text)
print(match)

['e', 'i', 'e', 'e', 'a']

In [ ]:

# [^] (Caret inside Square Brackets): Belirli bir karakter kümesi dışındaki herhangi bir karakteri eşleştirir.
# Örnek: "The" ile başlayan ve "over" kelimesini içeren herhangi bir karakter dizisini eşleştirin.
pattern = r"^The[^over]*over.*$"
text = "The quick brown fox jumps over the lazy dog"
match = re.search(pattern, text)
if match:
    print("Match found!")
else:
    print("Match not found")

Match not found

In [ ]:
# () (Parantheses): Bir grup karakteri eşleştirir.
# Örnek: "cat" veya "bat" kelimelerini eşleştirin.
pattern = r"(c|b)at"
text = "The cat in the hat chased the bat"
match = re.findall(pattern, text)
print(match)

['c', 'b']

In [ ]:


# {n} (Curly Braces): Önceki karakterin tam olarak n kez tekrarını eşleştirir.
# Örnek: "a" harfini üç kez tekrar eden karakter dizilerini eşleştirin.
pattern = r"a{3}"
text = "banana"
match = re.findall(pattern, text)
print(match)

[]

In [ ]:


# {m,n} (Curly Braces with two parameters): Önceki karakterin en az m ve en fazla n kez tekrarını eşleştirir.
# Örnek: "a" harfini en az 2, en fazla 4 kez tekrar eden karakter dizilerini eşleştirin.
pattern = r"a{2,4}"
text = "baananaaa"
match = re.findall(pattern, text)
print(match)

['aa', 'aaa']

In [ ]:

# | (Vertical Bar): Alternatif karakterler arasında seçim yapar.
# Örnek: "cat" veya "dog" kelimelerini eşleştirin.
pattern = r"cat|dog"
text = "I have a cat and a dog"
match = re.search(pattern, text)
if match:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [ ]:

# \ (Backslash): Metacharacterleri kaçırmak için kullanılır.
# Örnek: "I am 5'9\" tall" cümlesindeki tırnak işaretini eşleştirin.
pattern = r"5'9\\"
text = "I am 5'9\" tall"
text2="I am 5'9\\\" tall"#text2 içinn Match found! dödürecektir
match = re.search(pattern, text)
if match:
    print("Match found!")
else:
    print("Match not found.")
print(pattern)
print(text)

Match not found.
5'9\\
I am 5'9" tall

In [ ]:
'Valid'  if re.fullmatch(r'\d{5}', '9876') else "Invalid"

'Invalid'


# Other Predefined Character Classes

* To match any metacharacter as its literal value, precede it by a backslash ( \ )
    * For example, \\\ matches a backslash ( \\) and \\\\$ matches a dollar sign ( $ )

In [ ]:
##################

\d Any digit (0-9)
\D Any character that is not a digit.


\s Any whitespace character (such as spaces, tabs and newlines)
\S Any character that is not a vinitespace character.

\w Any word character (also called an alphanumeric character}—that is, any uppercase or lowercase letter, any digit or an
underscore



\W Any character that is not a word character.

# Custom Character Classes

* Square brackets  []  , define a custom character class that matches a single character
* [aeibu) matches a lowercase vowel

* [A-Z] matches an uppercase letter

* [a-z] matches a lowercase letter

* [a-zA-Z] matches any lowercase or uppercase letter

In [ ]:
"Valid" if re.fullmatch("[A-z][a-z]*", 'Wally') else "Invalid"

'Valid'

In [ ]:
"Valid" if re.fullmatch("[A-z][a-z]*", 'eva') else "Invalid"

'Valid'

In [ ]:
"Match" if re.fullmatch('[^a-z]', 'A') else 'No match'

'Match'

In [ ]:
"Match" if re.fullmatch('[^a-z]', 'a') else 'No match'

'No match'

In [ ]:
"Match" if re.fullmatch("[*+$]", '*') else 'No match'

'Match'

In [ ]:
"Match" if re.fullmatch('[*+$]', '!') else 'No match'

'No match'

# * vs. + Quantifier

* \+ matches at least one occurrence of a subexpression
* \* and + are greedy—they match as many characters as possible

In [ ]:
'Valid' if re.fullmatch( '[A-Z][a-z]+' , 'Wally') else 'Invalid'

'Valid'

In [ ]:
'Valid' if re.fullmatch("[A-Z][a-z]+", 'Wally') else 'Invalid'

'Valid'



# Other Quantifiers

* ? quantifier matches zero or one occurrences of a subexpression

In [ ]:
'match' if re.fullmatch('labell?ed', 'labelled') else 'No match'

'match'

In [ ]:
'match' if re.fullmatch('labell?ed', 'labeled') else 'No match'

'match'

In [ ]:
'match' if re.fullmatch('labell?ed', 'labellled') else 'No match'

'No match'

# 8.12.2 Replacing Substrings and Splitting Strings

* sub function replaces patterns in a string
+ split function breaks a string into pieces, based on patterns

## Function sub—Replacing Patterns 

* sub function replaces all occurrences of a pattern with the replacement text you specify

In [ ]:
import re

 

re.sub(r'\t', ',', '1\t2\t3\t4')

'1,2,3,4'

* Three required arguments:
	* the pattern to match (the tab character *\t" )
	* the replacement text (" , " ) and
	* the string to be searched ( 1\t2\t3\t4' )
* Keyword argument count can be used to specify the maximum number of replacements

In [ ]:
re.sub(r'\t', ', ', '1\t2\t3\t4', count=2)

'1, 2, 3\t4'


#Function split

* split function fokenizes a string, using a regular expression to specify the delimiter
* Retums a list of strings

In [ ]:
re.split(r',\s*', "1, 2, 3,4,  5,6,7,8")

['1', '2', '3', '4', '5', '6', '7', '8']

* Keyword argument maxsplit specifies maximum number of splits

In [ ]:
re.split(r',\s*', '1, 2, 3,4,   5,6,7,8', maxsplit=3)

['1', '2', '3', '4,   5,6,7,8']

# Function search —Finding the First Match Anywhere in a String

* search looks in a string for the first occurrence of a substring that matches a regular expression and returns a match
* object (of type SRE_Match ) that contains the matching substring
* Match object’s group method returns that substring

In [ ]:
import re

In [ ]:
result = re.search('Python', 'Python is fun')

In [ ]:
result.group() if result else 'not found'

'Python'

* search retums None if the string does not contain the pattern

In [ ]:

result2 = re.search('fun!', 'Python is fun')

result2.group() if result2 else 'not found'

'not found'

# Ignoring Case with the Optional flags Keyword Argument

* Many re module functions receive an optional flags keyword argument
* Changes how regular expressions are matched

In [ ]:
result3 = re.search('Sam', 'SAM WHITE', flags=re.IGNORECASE)


result3.group() if result3 else 'not found'

'SAM'


# Metacharacters That Restrict Matches to the Beginning or End of a String

* metacharacter at the beginning of a regular expression (and not inside square brackets) is an anchor
* Indicaties that the expression matches only the beginning of a string

In [ ]:

result = re.search('Python', 'Python is fun')

result.group() if result else 'not found'

'Python'

In [ ]:
result = re.search('fun', 'Python is fun')

result.group() if result else 'not found'

'fun'


* $ metacharacter at the end of a regular expression is an anchor indicating that the expression matches only the end of
asstring

In [ ]:

result = re.search('Python$', 'Python is fun')

result.group() if result else 'not found'

'not found'

In [ ]:

result = re.search('fun$', 'Python is fun')

result.group() if result else 'not found'

'fun'


# Function findall and finditer —Finding All Matches in a String

* findall finds every matching substring in a string
* Retums a list of the matching substrings

In [ ]:

contact = "Wally White, Home: 555-555-1234, Work: 555-555-4321"

re. findall(r'\d{3}-\d{3}-\d{4}', contact)

['555-555-1234', '555-555-4321']


+ finditer works like findall , but returns a lazy iterable of match objects

In [ ]:
for phone in re.finditer(r"\d{3}-\d{3}-\d{4}", contact):
    print(phone.group())

555-555-1234
555-555-4321

In [ ]:

text = 'Charlie Cyan, e-mail: demol@deitel.com'

In [ ]:
pattern = r'([A-Z][a-z]+ [A-Z][a-z]+), e-mail: (\w+@\w+\.\w{3})'

In [ ]:
result = re.search(pattern, text)

In [ ]:
result.groups()

('Charlie Cyan', 'demol@deitel.com')

+ The regular expression specifies two substrings to capture, each denoted by the metacharacters ( and )
* (and ) do not affect whether the pattern is found in the string text

* match function returns a match object only if the entire pattern is found in the string text
* match object's groups method returns a tuple of the captured substrings

In [ ]:
result. groups()

('Charlie Cyan', 'demol@deitel.com')

# Data Validation

In [ ]:
import pandas as pd
zips=pd.Series({'deston':'02215','Miami':'3310'})

In [ ]:
zips

deston    02215
Miami      3310
dtype: object

# Data Validation (cont.)

+ The secon column represents the Series ZIP Code valves (ram the distonay’s vale)

+ The at column” represents her incves (hom the dicionary's keys)

+ Can use regular expression wih Pandas o validate data

+ The str attribute ofa Series proves sting processing and varius regular expression methods
+ Use the str atiibate’s match method io chackwinethar each ZIP Code is valid

In [ ]:

zips.str.match(r'\d{5}')

deston     True
Miami     False
dtype: bool

+ match apples he regular exoression \4(5} to esch Series slement
+ Returns a new Series containing True for each valid element

# Data Validation (cont.)

+ Somatines, rather han matching an entre value pattem, youll want fo know whether a value contains a substnng that matches the patton
+ Use matrod contains instead of watch

In [ ]:

cities = pd.Series(["Boston, MA 97215", "miami, FL 33101"])

In [ ]:
cities

0    Boston, MA 97215
1     miami, FL 33101
dtype: object

In [ ]:

cities.str.contains(r'[A-z]{2}')

0    True
1    True
dtype: bool

In [ ]:
cities.str.match(r'[A-z]{2}')

0    True
1    True
dtype: bool

# Reformatting

In [ ]:
contacts = [ 
    ['Mike Green','demo1@deitel.com','5555555555'],
     ['sue brown','demo2@deitel.com','555 555 5535']
     ]

In [ ]:
myColumns=['Name','Mail','Phone']

In [ ]:
contactsDF=pd.DataFrame(contacts,columns=myColumns)

In [ ]:
contactsDF

         Name              Mail         Phone
0  Mike Green  demo1@deitel.com    5555555555
1   sue brown  demo2@deitel.com  555 555 5535

In [ ]:
contactsDF[contactsDF.columns[2]]

0      5555555555
1    555 555 5535
Name: Phone, dtype: object

# Reformatting

In [ ]:
def get_formatted_phone(value):
  result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})',value)# veriyi 3- 3-4 olarak grouplanacak  ve arasına '-' koyulacak
  return '-'.join(result.groups()) if result else value

In [ ]:
formatted_phone=contactsDF['Phone'].map(get_formatted_phone)

In [ ]:
contacts

[['Mike Green', 'demo1@deitel.com', '5555555555'],
 ['sue brown', 'demo2@deitel.com', '555 555 5535']]

In [ ]:
formatted_phone

0    555-555-5555
1    555 555 5535
Name: Phone, dtype: object

In [ ]:
contactsDF['Phone']=formatted_phone

In [ ]:
"""
kullanıcıdan string iki değer alın ve karşılaştır
kullanıcıya soralım ASCII - LENGTH
"""

'\nkullanıcıdan string iki değer alın ve karşılaştır\nkullanıcıya soralım ASCII - LENGTH\n'

In [ ]:
"""

SIKIŞTIRMA İSTİYORUZ

AAAAAAAAAAAAABCBCBCBCBCBCAAAAAAAAAADEFDEFDEFDEF

"""

'\n\nSIKIŞTIRMA İSTİYORUZ\n\nAAAAAAAAAAAAABCBCBCBCBCBCAAAAAAAAAADEFDEFDEFDEF\n\n'

In [ ]:
a="AAAA AAAA AAAA BCBC BCBC BCBC AAAA AAAA DEFDEF DEFDEF"
b="A12BC6A8DEF4"

In [ ]:
len(a)

53

In [ ]:
len(b)

12